<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viducate</title>
  
  <!-- Load React dependencies. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- add style sheet -->
  <!-- <link href="/static/css/site.css" rel="stylesheet"> -->
</head>

<body>
  <header>
    <h1>Welcome to Teacher's Pet!</h1>
  </header>

  <nav id="navbar"></nav>

  <!-- Mount your react components on to this element. -->
<main id="main"></main>

  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
</body>
</html>
